# Arquivos de Segredos (NUNCA ENVIAR PARA O GITHUB)
.env
.env.local
.env.*.local

# Dependências (Pasta que o 'npm install' cria)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Build do Next.js
.next/
out/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db