/* Arquivo: src/components/Header.module.css */
.dynamicSlot {
  margin-left: auto; /* Joga o conteúdo dinâmico para a direita */
}

.searchBar {
  display: flex;
  align-items: center;
}

.campoDeBusca {
  height: 50px;
  width: 350px;
  padding: 0 16px;
  font-size: 15px;
  border: 1px solid #dadada;
  border-radius: 30px 0 0 30px;
  outline: none;
}

.btnSearch {
  height: 50px;
  width: 64px;
  border: 1px solid #dadada;
  border-left: none;
  background: #fff;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSearch i {
  color: #B20000;
  font-size: 18px;
}

.btnSearch:hover {
  background: #B20000;
  border-color: #B20000;
}

.btnSearch:hover i {
  color: #fff;
}

